# GitHub Linguist Language Override
# Force repository language stats to show only Python

* linguist-vendored=true
*.py linguist-vendored=false
*.py linguist-detectable=true

*.js linguist-detectable=false
*.mjs linguist-detectable=false
*.cjs linguist-detectable=false
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.sh linguist-detectable=false
*.rs linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.md linguist-documentation=true
